body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 12px;
    font-family: "M+ 1c medium";
    font-weight: 600;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#root {
}

.entry {
    display: flex;
}

.category {
    background-color: rgba(33, 33, 33, .45);
    height: 32px;
    width: 100px;
    margin: 0 6px 6px 6px;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: rgba(25, 50, 75, .65);
}

.site {
    background-color: rgba(50, 100, 150, .65);
    height: 32px;
    width: 160px;
    margin: 0 6px 6px 0;
    border: 1px solid rgba(25, 50, 75, 1);
}

.name {
    margin-left: 6px;
}

.v-center {
    display: flex;
    align-items: center;
}

.form-header {
    text-align: center;
    margin: 4px 0 16px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: whitesmoke;
}

.hidden-form {
    background-color: rgba(33, 33, 33, .55);
    display: none;
    padding: 16px;
    margin-left: 5%;
}

.add-button, .save-button {
    background-color: rgba(33, 33, 33, .65);
    border: none;
    color: whitesmoke;
    font-size: 12px;
    height: 32px;
    width: 160px;
    margin: 6px 3px 6px 3px;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "M+ 1c medium";
}

.save-button {
    width: 100%;
    margin-top: 12px;
}

.buttons {
    width: 100%;
}

select, input, textarea {
    background-color: rgba(233, 233, 233, .25);
    color: whitesmoke;
    padding: 8px;
    border: none;
    font-family: "M+ 1c medium";
    font-weight: 600;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:-moz-focusring {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 whitesmoke;
}

label {
    width: 100px;
    display: inline-block;
}

.input-group {
    width: 100%;
    margin: 8px 0 8px 0;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 13px;
    font-weight: 500;
}

.import-area > * {
    margin: 0;
}

.clock {
    font-size: 64px;
    font-weight: 500;
    font-family: "M+ 1c";
    margin-bottom: 24px;
}
